*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  color: inherit;
  border-top-width: 1px;
  height: 0;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.left-1\/2 {
  left: 50%;
}

.top-1\/2 {
  top: 50%;
}

.z-50 {
  z-index: 50;
}

.m-4 {
  margin: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[10vw\] {
  margin-bottom: 10vw;
}

.mb-\[2vw\] {
  margin-bottom: 2vw;
}

.mb-\[4vw\] {
  margin-bottom: 4vw;
}

.mb-\[5vw\] {
  margin-bottom: 5vw;
}

.mb-\[6vw\] {
  margin-bottom: 6vw;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-\[10\%\] {
  margin-left: 10%;
}

.ml-\[10vw\] {
  margin-left: 10vw;
}

.ml-\[15\%\] {
  margin-left: 15%;
}

.ml-\[20\%\] {
  margin-left: 20%;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mt-\[-5\%\] {
  margin-top: -5%;
}

.mt-\[16\%\] {
  margin-top: 16%;
}

.mt-\[6vw\] {
  margin-top: 6vw;
}

.mt-\[8vw\] {
  margin-top: 8vw;
}

.mt-\[9vw\] {
  margin-top: 9vw;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-32 {
  height: 8rem;
}

.h-\[100\%\] {
  height: 100%;
}

.h-\[100vh\] {
  height: 100vh;
}

.h-\[12\.5vh\] {
  height: 12.5vh;
}

.h-\[13\.5vh\] {
  height: 13.5vh;
}

.h-\[16vw\] {
  height: 16vw;
}

.h-\[2\.4vw\] {
  height: 2.4vw;
}

.h-\[20vh\] {
  height: 20vh;
}

.h-\[25vh\] {
  height: 25vh;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[38\%\] {
  height: 38%;
}

.h-\[3vw\] {
  height: 3vw;
}

.h-\[4\.4vw\] {
  height: 4.4vw;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[50vh\] {
  height: 50vh;
}

.h-\[60\%\] {
  height: 60%;
}

.h-\[60vh\] {
  height: 60vh;
}

.h-\[6vh\] {
  height: 6vh;
}

.h-\[8vw\] {
  height: 8vw;
}

.h-\[94\%\] {
  height: 94%;
}

.h-full {
  height: 100%;
}

.min-h-\[100vh\] {
  min-height: 100vh;
}

.min-h-\[70vh\] {
  min-height: 70vh;
}

.w-10 {
  width: 2.5rem;
}

.w-4\/6 {
  width: 66.6667%;
}

.w-6\/12 {
  width: 50%;
}

.w-64 {
  width: 16rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[100vw\] {
  width: 100vw;
}

.w-\[15vw\] {
  width: 15vw;
}

.w-\[1px\] {
  width: 1px;
}

.w-\[2\%\] {
  width: 2%;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[35\%\] {
  width: 35%;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[40vw\] {
  width: 40vw;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[500px\] {
  width: 500px;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[72vw\] {
  width: 72vw;
}

.w-\[74\%\] {
  width: 74%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-full {
  width: 100%;
}

.shrink-0 {
  flex-shrink: 0;
}

.translate-x-\[-50\%\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-x: -50%;
}

.translate-y-\[-1vw\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: -1vw;
}

.translate-y-\[-50\%\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: -50%;
}

.translate-y-\[40vh\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 40vh;
}

.translate-y-\[8vh\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 8vh;
}

.rotate-\[190deg\] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: 190deg;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: .25rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.rounded {
  border-radius: .25rem;
}

.rounded-\[100\%\] {
  border-radius: 100%;
}

.rounded-\[50\%\] {
  border-radius: 50%;
}

.rounded-\[50px\] {
  border-radius: 50px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.border-r {
  border-right-width: 1px;
}

.bg-\[\#95c11e\] {
  background-color: rgb(149 193 30 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.bg-black {
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.bg-white {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.bg-zinc-800 {
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.bg-opacity-40 {
  --tw-bg-opacity: .4;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-gray-400 {
  --tw-gradient-from: #9ca3af var(--tw-gradient-from-position);
  --tw-gradient-to: #9ca3af00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-zinc-600 {
  --tw-gradient-from: #52525b var(--tw-gradient-from-position);
  --tw-gradient-to: #52525b00 var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-gray-700 {
  --tw-gradient-to: #374151 var(--tw-gradient-to-position);
}

.to-zinc-900 {
  --tw-gradient-to: #18181b var(--tw-gradient-to-position);
}

.p-2 {
  padding: .5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[10vw\] {
  padding-top: 10vw;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[1\.5vw\] {
  font-size: 1.5vw;
}

.text-\[8vw\] {
  font-size: 8vw;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-\[4vw\] {
  line-height: 4vw;
}

.leading-\[97\%\] {
  line-height: 97%;
}

.tracking-tight {
  letter-spacing: -.025em;
}

.text-black {
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.text-white {
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.text-zinc-200 {
  color: rgb(228 228 231 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.text-zinc-300 {
  color: rgb(212 212 216 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.outline-none {
  outline-offset: 2px;
  outline: 2px solid #0000;
}

.outline {
  outline-style: solid;
}

.outline-1 {
  outline-width: 1px;
}

.blur-\[200px\] {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-blur: blur(200px);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-all {
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.delay-75 {
  transition-delay: 75ms;
}

.duration-100 {
  transition-duration: .1s;
}

.duration-300 {
  transition-duration: .3s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.before\:absolute:before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-0:before {
  content: var(--tw-content);
  bottom: 0;
}

.before\:left-\[50\%\]:before {
  content: var(--tw-content);
  left: 50%;
}

.before\:h-\[1px\]:before {
  content: var(--tw-content);
  height: 1px;
}

.before\:w-0:before {
  content: var(--tw-content);
  width: 0;
}

.before\:origin-center:before {
  content: var(--tw-content);
  transform-origin: center;
}

.before\:bg-gray-400:before {
  content: var(--tw-content);
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.before\:transition-\[width\]:before {
  content: var(--tw-content);
  transition-property: width;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.before\:duration-700:before {
  content: var(--tw-content);
  transition-duration: .7s;
}

.before\:ease-in-out:before {
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.after\:absolute:after {
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0:after {
  content: var(--tw-content);
  bottom: 0;
}

.after\:right-\[50\%\]:after {
  content: var(--tw-content);
  right: 50%;
}

.after\:h-\[1px\]:after {
  content: var(--tw-content);
  height: 1px;
}

.after\:w-0:after {
  content: var(--tw-content);
  width: 0;
}

.after\:origin-center:after {
  content: var(--tw-content);
  transform-origin: center;
}

.after\:bg-gray-400:after {
  content: var(--tw-content);
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.after\:transition-\[width\]:after {
  content: var(--tw-content);
  transition-property: width;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.after\:duration-700:after {
  content: var(--tw-content);
  transition-duration: .7s;
}

.after\:ease-in-out:after {
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.hover\:bg-slate-500:hover {
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.hover\:bg-gradient-to-r:hover {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.hover\:text-gray-400:hover {
  color: rgb(156 163 175 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.hover\:text-purple-400:hover {
  color: rgb(192 132 252 / var(--tw-text-opacity));
  --tw-text-opacity: 1;
}

.hover\:before\:w-\[50\%\]:hover:before, .hover\:after\:w-\[50\%\]:hover:after {
  content: var(--tw-content);
  width: 50%;
}

.active\:scale-\[0\.96\]:active {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: .96;
  --tw-scale-y: .96;
}
/*# sourceMappingURL=index.9e4c6fd2.css.map */
